#C{
    background-color: rgba(231, 231, 231, 0.952);
    height: 68px;
    width: 122.4px;
    font-size: 25px;
    color: black;
    margin-left: -6px;
    margin-top: -30px;
    cursor: pointer;
    border-color: goldenrod;
    border-width: 5px;
}

#Backspace{
    background-color: rgba(231, 231, 231, 0.952);
    height: 67.5px;
    width: 63.5px;
    font-size: 25px;
    color: black;
    position:absolute;
    margin-top: -27.4px;
    margin-left: -1.1px;
    cursor: pointer;
    border-color: goldenrod;
    border-width: 5px;
}

#Zero{
    background-color: white;
    height: 68px;
    width: 185.5px;
    font-size: 25px;
    color: black;
    position:absolute;
    margin-top: 242px;
    margin-left: -123px;
    cursor: pointer;
    border-color: goldenrod;
    border-width: 5px;

}

.div1 {
    background-color:black;
    width: 240px;
    height: 397px;
    position: absolute;
    left: 40%;
    top: 140px;
    border-style:ridge;
    border-color:goldenrod;
    border-width: 11px;
    padding-top: 20px;
    padding-left: 6px;

}
.Result{
    background-color:white;
    border-color: goldenrod;
    height: 50px;
    width: 220px;
    text-align: right;
    color: black;
    font-size: 40px;
    margin-top: -5px;
    margin-left: 7px;

}
.operations{
    
    background-color: rgba(231, 231, 231, 0.952);
    height: 67.8px;
    width: 60px;
    font-size: 25px;
    color: black;
    cursor: pointer;
    border-color: goldenrod;
    border-width: 5px;
}
.num{
    
    background-color: white;
    height: 68px;
    width: 64.5px;
    font-size: 25px;
    color: black;
    margin-left: -20px;
    cursor: pointer;
    border-color: goldenrod;
    border-width: 5px;


}
.OP 
{
    flex-direction: column;
    list-style: none;
    float:right;
    margin-top: -11.5%;

    
}

.NM 
{
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    float: left;
    margin-left: -11%;
    margin-top: -119.8%;
    list-style: none; 
   
}

#Header{
font-size: 40px;
text-align: center;
color: goldenrod;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


body{
    background-image: url('Background-website-01.jpg');


}
.operations:hover{
    background-color: white;
}
.operations:active{
    background-color: dimgray
}
.num:hover{
background-color: white;
}
.num:active{
    background-color: dimgray
}
#Backspace:hover{
background-color: white;
}
#Backspace:active{
    background-color: dimgray
}

#C:hover{
    background-color: white;
}
#C:active{
    background-color: dimgray
}

#Zero:hover{
    background-color: white;
}
#Zero:active{
    background-color: dimgray
}